BETTER_AUTH_URL=http://localhost:3000 		cambiar al url que me da el servicio de deploy

VITE_BETTER_AUTH_BASE_URL=http://localhost:3000 	cambiar al url que me da el servicio de deploy

BETTER_AUTH_BASE_URL=http://localhost:3000 		cambiar al url que me da el servicio de deploy

DATABASE_URL=postgresql://user:password@ep-example-123456-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require

BETTER_AUTH_SECRET=your-secret-here

NITRO_PRESET=vercel


